.section-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--gap-xxxl) 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  color: var(--clr-dark-grey);
}

.section-header.sm {
  max-width: var(--width-sm);
}

.section-header.md {
  max-width: var(--width-md);
}

.section-content p {
  color: var(--clr-light-grey);
}

.section-content h2 {
  color: var(--clr-grey);
}