/* ========== Common styles ============ */
body {
  background-color: var(--clr-soft-grey);
  color: var(--clr-dark-grey);
}

ul {
  padding-left: var(--gap-sm);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.cover {
  height: 720px;
  background-position-y: bottom;
  background-size: cover;
}

.illustration {
  width: 100%;
  height: 720px;
  object-fit: cover;
  object-position: bottom;
}

main {
  margin-top: -72px;
}

/* ========== Sections ============= */

.hero-section {
  color: var(--clr-soft-grey);
  background-image: url('../images/hero-photo.jpg');
  background-position: top center;
  padding-top: calc(var(--header-height) * 2 + var(--gap-lg));
}

.hero-section > .grid-content {
  max-width: var(--width-md);
}

.about-section .section-content {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  gap: var(--gap-xl);
}

.about-section img {
  grid-area: image;
  aspect-ratio: 1 / 1;
  max-width: 320px;
  object-fit: cover;
}

.about-section .divider {
  grid-area: text;
  align-self: end;
  justify-self: end;
}

.about-section .about-decription {
  grid-area: text;
  columns: 2;
  gap: var(--gap-xl);
}

/* ============ Lists ============= */

.arrangements-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 0 48px;
  --icon-size: 60px;
  --col-gap: var(--gap-xl);
}

.arrangements-list .list-item {
  grid-template-columns: 1fr;
  align-items: center;
}

.escape-list {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: var(--gap-xl) var(--gap-xxl);
  --icon-size: 40px;
  --col-gap: var(--gap-sm);
}

.together-list {
  --icon-size: 40px;
  --col-gap: var(--gap-sm);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

/* ============== Footer =========== */

.main-footer .section-content {
  display: grid;
  gap: var(--gap-xxl) var(--gap-xxxl);
  grid-template-columns: minmax(500px, 1fr) minmax(300px, 600px);
  grid-template-areas: 
    "contacts newsletter"
    "copyright copyright";
}

.contacts {
  grid-area: contacts;
}

.newsletter {
  grid-area: newsletter;
}

.copyright {
  grid-area: copyright;
  justify-self: center;
}

/* ============= Header =========== */

.main-header {
  height: var(--header-height);
  background-color: var(--clr-dark-brown);
  color: var(--clr-soft-grey);

  position: sticky;
  top: 0;
  mix-blend-mode: normal;
  opacity: 0.6;
  backdrop-filter: blur(5px);
}

.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-list,
.social-list {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0 auto;
  width: calc(var(--gap-xxl) * 4);
}

.social-list {
  width: var(--gap-xxxl);
}

.main-header a:hover,
.main-header a:focus {
  color: var(--clr-orange);
}